<h1>Dojos#index</h1>
<p>Find me in app/views/dojos/index.html.erb</p>
<form action='/dojos/create' method='POST'>
     <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      Name: <input type='text' name='name'>
      <br>
      Dojo Location: <select name="location">
                  <option value="SanJose">San Jose</option>
                  <option value="DC">DC</option>
                  <option value="SanFransisco">San Fransisco</option>
                  <option value="Seattle">Seattle</option>
                </select>
                <br>
      Favorite Language: <select name="language">
                  <option value="Python">Python</option>
                  <option value="CSS">CSS</option>
                  <option value="HTML">HTML</option>
                  <option value="Javascript">Javascript</option>
                  <option value="Ruby">Ruby</option>
                </select>
                <br>
      Comments: <textarea name="message" rows="10" cols="30"></textarea>
      <br>
      <input class="submit" type="submit">
    </form>
