<p>First Name: <%=@show.first_name%></p>
<p>First Name: <%=@show.last_name%></p>
<p>First Name: <%=@show.email_address%></p>
<a href="/users/<%= @show.id%>/edit">Edit</a>
<a href="/users/index">Back</a>
